.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #8d8d8d;
}

.form-group {
  width: 100%;
  max-width: 300px;
}

.register-link {
  text-align: center;
  margin-top: 10px;
}

/* Dodatna stilizacija za mat-form-field, možete prilagoditi prema potrebi */
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* Stilizacija za button, možete prilagoditi prema potrebi */
button {
  width: 100%;
}